central_microcontroller/build/
/build
/drill_pcb/drill_pcb-backups
/drill_pcb/fp-info-cache
pico-sdk
.vscode
.DS_Store
ros_packages/drill/.idea/
ros_packages/drill/build/
ros_packages/drill/cmake-build-debug/
report-generator/logo.bmp
