/build
pcbs/drill_pcb/drill_pcb-backups
pcbs/drill_pcb/fp-info-cache
pcbs/centrall_microcontroller/centrall_microcontroller-backups
pcbs/centrall_microcontroller/fp-info-cache
pico-sdk
.vscode
.DS_Store

